<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="Bookmark" href="../../static/favicon.ico" type="image/x-icon">
    <link rel="shortcut Icon" href="../../static/favicon.ico" type="image/x-icon"/>
    <title>师资管理系统</title>
    <link rel="stylesheet" href="/static/css/admin/login.css">

    <script type="text/javascript">
        window.onload = function () {

            var
                weekday = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sun', 'Sat'],
                t = new Date();

            $("h1#timer").html(t.getFullYear() + "/" + two((t.getMonth() + 1)) + "/" + two(t.getDate()) + " " + weekday[t.getDay() - 1] + " " + two(t.getHours()) + ":" + two(t.getMinutes()) + ":" + two(t.getSeconds()));

            setInterval(function () {
                t = new Date();
                $("h1#timer").html(t.getFullYear() + "/" + two((t.getMonth() + 1)) + "/" + two(t.getDate()) + " " + weekday[t.getDay() - 1] + " " + two(t.getHours()) + ":" + two(t.getMinutes()) + ":" + two(t.getSeconds()));
            }, 1000);

            var login_btn = $("#login-btn"),
                loginframe = $("#loginframe"),
                register_btn = $("#register-btn"),
                registerframe = $("#registerframe"),
                login_close = $("#login-close"),
                register_close = $("#register-close"),
                phone_switch = $("#phone-swtich"),
                login = $("#login"),
                login_phe = $("#phone-login"),
                account_swtich = $("#account-swtich");

            login_btn.click(function () {
                loginframe.css("left", "calc(50% - 12em)");
            });
            register_btn.click(function () {
                registerframe.css("left", "calc(50% - 12em)");
            });
            login_close.click(function () {
                loginframe.css("left", "-30em");
            });
            register_close.click(function () {
                registerframe.css("left", "-30em");
            });
            phone_switch.click(function () {
                login.css("animation", "ToOpacity 1.2s forwards");
                loginframe.css("animation", "ToForward 2.2s forwards");
                setTimeout(function () {
                    login.css("display", "none");
                    login_phe.css("display", "block");
                    login_phe.css("animation", "ToVisible 1.2s forwards");
                    setTimeout(function () {
                        loginframe.css("animation", "none");
                    }, 1200);
                }, 1000);

            });
            account_swtich.click(function () {
                login_phe.css("animation", "ToOpacity 1.2s forwards");
                loginframe.css("animation", "ToForward 2.2s forwards");
                setTimeout(function () {
                    login_phe.css("display", "none");
                    login.css("display", "block");
                    login.css("animation", "ToVisible 1.2s forwards");
                    setTimeout(function () {
                        loginframe.css("animation", "none");
                    }, 1200);
                }, 1000);
            });
        }

        function two(x) {
            return x < 10 ? "0" + x : x;
        }
    </script>

</head>
<body>
<div class="pencil"></div>
<div class="logo"></div>
<section class="welcome" id="welcome">
    <div class="timer"><h1 id="timer"></h1></div>
    <h2>Teacher Management System</h2>
    <p>The greater the capacity<br>The greater the responsibility.</p>
</section>
<main class="main">
    <div class="main-content">
        <button id="login-btn">登录</button>
        <br>
        <button id="register-btn">注册</button>
    </div>
</main>
<div class="loginframe" id="loginframe">
    <button id="login-close">X</button>
    <div class="login" id="login">
        <h2>Login to your account</h2>
        <!------------------------------------表单提交开始---------------------------------->
        <form action="#" th:action="@{/login}" method="post">
            <div class="login-t">
                <label for="account" class="iconfont icon-user"></label>
                <input type="text" id="account" autocomplete="off"
                       placeholder="account number" name="username" class="first_line">
                <label for="password" class="iconfont icon-lock"></label>
                <input type="password" id="password" placeholder="password" name="password">
            </div>

            <div th:if="${param.error}" style="
				     position: absolute;
				     top: 34.5%;
				     left: 12%;
    				font-size: 90%;">
                非法的账号或密码
            </div>
            <input type="submit" value="Login" class="submit">
        </form>

    </div>
</div>
<div class="loginframe" id="registerframe">
    <button id="register-close">X</button>
    <div class="login" id="register">
        <h2>Register to your account</h2>
        <!------------------------------------表单提交开始---------------------------------->
        <form action="#" th:action="@{/login}" method="post">
            <div class="login-t">
                <label for="account" class="iconfont icon-user"></label>
                <input type="text" id="account2" autocomplete="off"
                       placeholder="account number" name="username" class="first_line">
                <label for="password" class="iconfont icon-lock"></label>
                <input type="password" id="password2" placeholder="password" name="password">
                <label for="password3" class="iconfont icon-lock"></label>
                <input type="password" id="password3" placeholder="confirm password" name="password">
                <label for="phone" class="iconfont icon-lock"></label>
                <input type="password" id="phone" placeholder="telephone number" name="password">
            </div>

            <div th:if="${param.error}" style="
				     position: absolute;
				     top: 34.5%;
				     left: 12%;
    				font-size: 90%;">
                非法的账号或密码
            </div>
            <input type="submit" value="register" class="submit">
        </form>

    </div>
</div>


<footer th:include="admin/common :: footer"></footer>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/javascript">
    document.getElementById('account2').onblur = function () {
        var username =document.getElementById('account2').value;
        if(null == username || "" === username) {
            alert("请输入用户名");
            return;
        }
    };
    $("#register").click=(function () {
        var username =document.getElementById('account2').value;
        if(null == username || "" === username) {
            alert("请输入用户名");
            return;
        }
        var password2 =document.getElementById('password2').value;
        if(null == password2 || "" === password2) {
            alert("请输入密码");
            return;
        }
        var password = /"^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$"/i;
        // console.log("=="+password.test("iFat3#"));

        var pwd =document.getElementById('password3').value;
        if(null == pwd || "" === pwd) {
            alert("请确定密码");
            return;
        }
        function checkPhone() {
            var phone = document.getElementById('phone').value;
            if (!(/^1[3456789]d{9}$/.test(phone))) {
                alert("手机号码有误，请重填");
                return false;
            }
        }


            $.ajax({
                url: '/sms/code?telephone=' + telephone,
                type: 'GET',
                success: function (data) {
                    if (data.code === 200) {
                        var smsBtn = $('#smsCodeBtn');
                        smsBtn.attr('disabled', 'disabled');
                        smsBtn.css("background-color", "#b4b2b3");

                        var time = 60;
                        var clock = setInterval(function () {
                            if (time-- <= 0) {
                                smsBtn.removeAttr('disabled');
                                smsBtn.css('background-color', '#00b4ef');
                                smsBtn.text('获取验证码');
                                clearInterval(clock);
                            } else {
                                smsBtn.text(time + 's 重新发送');
                            }
                        }, 1000);
                        layer.msg('获取验证码成功', {icon: 6, time: 2000});
                    } else {
                        layer.msg('获取失败: ' + data.message, {icon: 5, time: 2000});
                    }
                },
                error: function (xhr, response, error) {
                    layer.msg('服务器错误: ' + response, {icon: 5, time: 2000});
                }
            });
        });


</script>

</body>
</html>