<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="Bookmark" href="../../static/favicon.ico" type="image/x-icon">
    <link rel="shortcut Icon" href="../../static/favicon.ico" type="image/x-icon"/>
    <title>师资管理系统</title>
    <link rel="stylesheet" href="/static/css/admin/login.css">
    <link rel="stylesheet" href="/static/lib/layui/layui.css" media="all">
    <script type="text/javascript">
        window.onload = function () {

            var
                weekday = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sun', 'Sat'],
                t = new Date();

            $("h1#timer").html(t.getFullYear() + "/" + two((t.getMonth() + 1)) + "/" + two(t.getDate()) + " " + weekday[t.getDay() - 1] + " " + two(t.getHours()) + ":" + two(t.getMinutes()) + ":" + two(t.getSeconds()));

            setInterval(function () {
                t = new Date();
                $("h1#timer").html(t.getFullYear() + "/" + two((t.getMonth() + 1)) + "/" + two(t.getDate()) + " " + weekday[t.getDay() - 1] + " " + two(t.getHours()) + ":" + two(t.getMinutes()) + ":" + two(t.getSeconds()));
            }, 1000);

            var login_btn = $("#login-btn"),
                loginframe = $("#loginframe"),
                register_btn = $("#register-btn"),
                registerframe = $("#registerframe"),
                login_close = $("#login-close"),
                register_close = $("#register-close"),
                phone_switch = $("#phone-swtich"),
                login = $("#login"),
                login_phe = $("#phone-login"),
                account_swtich = $("#account-swtich");

            login_btn.click(function () {
                loginframe.css("left", "calc(50% - 12em)");
            });
            register_btn.click(function () {
                registerframe.css("left", "calc(50% - 12em)");
            });
            login_close.click(function () {
                loginframe.css("left", "-30em");
            });
            register_close.click(function () {
                registerframe.css("left", "-30em");
            });
            phone_switch.click(function () {
                login.css("animation", "ToOpacity 1.2s forwards");
                loginframe.css("animation", "ToForward 2.2s forwards");
                setTimeout(function () {
                    login.css("display", "none");
                    login_phe.css("display", "block");
                    login_phe.css("animation", "ToVisible 1.2s forwards");
                    setTimeout(function () {
                        loginframe.css("animation", "none");
                    }, 1200);
                }, 1000);

            });
            account_swtich.click(function () {
                login_phe.css("animation", "ToOpacity 1.2s forwards");
                loginframe.css("animation", "ToForward 2.2s forwards");
                setTimeout(function () {
                    login_phe.css("display", "none");
                    login.css("display", "block");
                    login.css("animation", "ToVisible 1.2s forwards");
                    setTimeout(function () {
                        loginframe.css("animation", "none");
                    }, 1200);
                }, 1000);
            });
        }

        function two(x) {
            return x < 10 ? "0" + x : x;
        }
    </script>

</head>
<body>
<div class="pencil"></div>
<div class="logo"></div>
<section class="welcome" id="welcome">
    <div class="timer"><h1 id="timer"></h1></div>
    <h2>Teacher Management System</h2>
    <p>The greater the capacity<br>The greater the responsibility.</p>
</section>
<main class="main">
    <div class="main-content">
        <button id="login-btn">登录</button>
        <br>
        <button id="register-btn">注册</button>
    </div>
</main>
<div class="loginframe" id="loginframe">
    <button id="login-close">X</button>
    <div class="login" id="login">
        <h2>Login to your account</h2>
        <!------------------------------------表单提交开始---------------------------------->
        <form action="#" th:action="@{/login}" method="post">
            <div class="login-t">
                <label for="account" class="iconfont icon-user"></label>
                <input type="text" id="account" autocomplete="off"
                       placeholder="account number" name="username" class="first_line">
                <label for="password" class="iconfont icon-lock"></label>
                <input type="password" id="password" placeholder="password" name="password">
            </div>
            <div th:if="${param.error}" style="
				     position: absolute;
				     top: 34.5%;
				     left: 12%;
    				font-size: 90%;">
                非法的账号或密码
            </div>
            <input type="submit" value="Login" class="submit">
        </form>

    </div>
</div>
<div class="loginframe" id="registerframe"  >
    <button id="register-close">X</button>
    <div class="login" id="register">
        <h2>Register to your acount</h2>
        <!------------------------------------表单提交开始---------------------------------->

        <form class="layui-form" action="">

            <div class="layui-form-item">

                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" id="account2"   placeholder="username" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" id="password2"   placeholder="password"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" id="password3"   placeholder="enter password"
                          class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" id="telephone" name="telephone"  placeholder="telephone number"
                         class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" id="email"   placeholder="email"
                           class="layui-input">


                </div>

            </div>
            <div class="layui-form-item"> <div th:if="${param.error}" style="
				     position: absolute;
				     top: 34.5%;
				     left: 12%;
    				font-size: 90%;">
                非法的账号或密码
            </div>
                <input type="submit" value="register" class="submit"></div>
        </form>
    </div>
</div>


<footer th:include="admin/common :: footer"></footer>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/javascript">
    document.getElementById('account2').onblur = function () {
        var username = document.getElementById('account2').value;
        if (null == username || "" === username) {
            // alert("请输入用户名");
            layer.msg('请输入用户名', {icon: 5, time: 2000});
            return;
        }
    };
    document.getElementById('password2').onblur = function () {
        var password2 = document.getElementById('password2').value;
        if (password2 == "") {
            // alert("请输入密码");
            layer.msg('请输入密码', {icon: 5, time: 2000});
            return;
        } else {
            var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z]).{8,30}');
            console.info(pwdRegex.test(password2));
            if (!pwdRegex.test(password2)) {
                // alert("您的密码复杂度太低（密码中必须包含字母、数字），请及时修改密码！");
                layer.msg('您的密码复杂度太低（密码中必须包含字母、数字），请及时修改密码！', {icon: 5, time: 2000});
                return;
            }
        }
    };
    document.getElementById('password3').onblur = function () {
        var password2 = document.getElementById('password2').value;
        var password3 = document.getElementById('password3').value;
        if (password2 == password3) {
            // alert("请确认两次输入的密码一致！");
            layer.msg('两次输入的密码一致!', {icon: 6, time: 2000});
            return;
        } else {
            layer.msg('请确认两次输入的密码一致!', {icon: 5, time: 2000});
            return;
        }
    };
    document.getElementById('telephone').onblur = function () {
        var phone = document.getElementById('telephone').value;
        var myreg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
        if (!myreg.test(phone)) {
            layer.msg('手机号格式不正确!', {icon: 5, time: 2000});
            return ;
        } else {
            layer.msg('手机号格式正确!', {icon: 6, time: 2000});
            return ;
        }
    }
    document.getElementById('email').onblur = function () {
        var email = document.getElementById('email').value;
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if (reg.test(email)) {
            // alert("邮箱格式正确");
            layer.msg('邮箱格式正确', {icon: 6, time: 2000});
            return;
        } else {
            // alert("邮箱格式不正确");
            layer.msg('邮箱格式不正确', {icon: 5, time: 2000});
            return;
        }
    }


    $.ajax({
        url: '/sms/code?telephone=' + '',
        type: 'GET',
        success: function (data) {
            if (data.code === 200) {
                var smsBtn = $('#smsCodeBtn');
                smsBtn.attr('disabled', 'disabled');
                smsBtn.css("background-color", "#b4b2b3");

                var time = 60;
                var clock = setInterval(function () {
                    if (time-- <= 0) {
                        smsBtn.removeAttr('disabled');
                        smsBtn.css('background-color', '#00b4ef');
                        smsBtn.text('获取验证码');
                        clearInterval(clock);
                    } else {
                        smsBtn.text(time + 's 重新发送');
                    }
                }, 1000);
                layer.msg('获取验证码成功', {icon: 6, time: 2000});
            } else {
                layer.msg('获取失败: ' + data.message, {icon: 5, time: 2000});
            }
        },
        error: function (xhr, response, error) {
            layer.msg('服务器错误: ' + response, {icon: 5, time: 2000});
        }
    });
    ;


</script>

</body>
</html>